registry=https://registry.npmjs.com/
@tcs-common:registry=http://nexus.containerstore.com/nexus/repository/npm-group/
@tcs-design-tools:registry=http://nexus.containerstore.com/nexus/repository/npm-group/
@tcs-design-tools-common:registry=http://nexus.containerstore.com/nexus/repository/npm-group/
@tcs-ecommerce:registry=http://nexus.containerstore.com/nexus/repository/npm-group/
@the-container-store:registry=https://npm.pkg.github.com